@import 'styles/shared';

body{
  color: white;
  background: radial-gradient(farthest-corner at 0 0, #a7aeb2 0%,#8d8f99 100%);
}

header{
  width: 100%;
  padding: 2rem 1rem;
}
.logo{
  display: block;
  margin: auto;
}

.search-container{
  padding: 3rem;
  width: 100%;
  position: relative;
  @media #{$tablet}{
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-width: 20rem;
  }
  label, input{
    display: inline-block;
  }
  #search {
    height: 4rem;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: 100;
    letter-spacing: .1rem;
    border: none;
    outline: none;
    color: white;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }

  #search:focus:hover {
    border-bottom: 1px solid #BBB;
  }

  #search:focus {
    width: calc(100% - 3rem);
    @media #{$tablet}{
      width: 20rem;
    }
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }
  label{
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}


.list-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 400px;
}
.drawing-item{
  transform-origin: 50%;
  cursor: pointer;
  .img-container{
    margin: 2rem;
    margin: auto;
    width: 80vw;
    height: 80vw;
    @media #{$tablet}{
      width: 33vw;
      height: 33vw;
    }
    @media #{$md}{
      width: 25vw;
      height: 25vw;
    }
    background-color: white;
    transition: all .2s ease-out;
    transform: scale(1)
  }
  &:hover .img-container{
    transform: scale(1.05);
  }
  display: block;
  text-align: center;
  margin: 3rem auto;
  @media #{$tablet}{
    margin: 3rem;
  }

  img{
    max-height: 100%;
    width: auto;
  }
  transition: all .5s ease-out;
}

.loader{
  font-size: 7rem;
}


  $angles: -2 5 -1 4 -3 1 -3.5 2;
  @each $angle in $angles {
    $i: index($angles, $angle);
    .drawing-item:nth-child(#{$i}n){
      transform: rotate(#{$angle}deg);
    }
  }


.sharers{
  .fa-share{
    opacity: .5;
  }
  a{
    color: white;
    padding: .5rem .5rem;
  }
  float: right;
}

#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 90vw;


  transition: top .5s ease-out;
  .on-screen &{
    top: 0%;
  }
}

$ducks: neutre aviateur bonnet casquette;
@each $duck in $ducks{
  .#{$duck} img{
    background-image: url("/anims2.hyperesources/#{$duck}_fond.png");
    background-size: cover;
  }
}



#result-background{
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-out;
  .on-screen &{
    opacity: 1;
    pointer-events: auto;
  }
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  .close{
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: white;
    font-size: 4rem;
  }
}


.pager{
  font-size: 6rem;
  .pager-item{
    display: inline-block;
    padding: .5rem;
    .disabled{
      visibility: hidden;
      pointer-events: none;
    }
  }
}
