!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    :plain
      <?php
        error_reporting(0);
        if(count($_GET) > 0){
          $img_url = $_GET["imagePath"];
          $duck = $_GET["duck"];
          $scene = $_GET["scene"];
          $name = $_GET["name"];
          $day = $_GET["day"];
          $month = $_GET["month"];
          $year =  $_GET["year"];
          $birthday = $_GET["day"] . "." . $_GET["month"] . "." . $_GET["year"];
        }
        else{
          $img_url = '/assets/logo.png';
        }
      ?>
      <?php if(count($_GET) > 0): ?>
        <script>
          var requestedDrawing = {
            duck: "<?php print $duck?>",
            scene: "<?php print $scene?>",
            imagePath: "<?php print $img_url?>",
            day: "<?php print $day?>",
            month: "<?php print $month?>",
            year: "<?php print $year?>",
            name: "<?php print $name?>",
          };
        </script>
      <?php endif; ?>
    %title= "Les Cygnes"
    %meta{property:"og:site_name", content:""}
    - desc = "<?php print $name?> est passé au Centre Commercial des Cygnes!"
    %meta{:name => "description", content: desc}
    %meta{property:"og:description", content: desc}
    %meta{property:"og:image", content:"<?php print $img_url?>"}
    %meta{property:"og:url", content: "<?php print $img_url?>"}
    %meta{property:"og:type", content:"entertainment"}
    %meta{property:"og:title", content:"Le Centre Commercial des Cygnes fête ses 25ans!"}
    %script{src:"//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"}
    %script{src: "https://cdn.firebase.com/js/client/2.3.2/firebase.js"}
    %script{src: "https://cdn.firebase.com/libs/firebase-util/0.2.5/firebase-util.min.js"}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.min.js'}
    / Latest compiled and minified CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
    / Optional theme
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", :integrity => "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:crossorigin => "anonymous", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"}
    :javascript
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    %script{src: '/js/fbPaginator.js'}
    %script{src: '/js/firebase.js'}
    %script{src: '/js/hypeHandler.js'}
    %script{src: '/js/index.js'}

    %link{:rel => "stylesheet", :href => "/index.css"}/
    -# Hype scripts
    %script{type:"text/javascript", src:"anims2.hyperesources/snowfall.min.js"}


  %body
    %header
      %img.logo{:src => "assets/logo.png", :alt => ""}/
      .search-container
        %input#search{type: 'search'}
    .pager
      .pager-item.previous.disabled Previous
      .pager-item.next Next
    .list-container
    #result-background
      .close.fa.fa-icon.fa-times
    #result
      #anims2_hype_container{style: "margin:auto;position:relative;width:100vw;height:100vh;overflow:hidden;", "aria-live"=>"polite"}
        %script{async: true, type: "text/javascript", charset:"utf-8", src:"anims2.hyperesources/anims2_hype_generated_script.js?13002"}
      #kid-name
      .sharers
        .fa.fa-icon.fa-share
        %a.fa.fa-icon.fa-facebook.share.facebook{href: '#', target: '_blank'}
        %a.fa.fa-icon.fa-twitter.share.twitter{href: '#', target: '_blank'}
        %a.fa.fa-icon.fa-pinterest.share.pinterest{href: '#', target: '_blank'}
        %a.fa.fa-icon.fa-download.download{href: '#', target: '_blank'}
