body {
  max-width: 100%;
  min-height: 100vh;
  font-family: Helvetica;
  background: url("/assets/logo.png") no-repeat 10rem 5rem/20rem, radial-gradient(ellipse at top left, #a7aeb2 0%, #8d8f99 100%); }

#result {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top .1s ease-out; }
  body:not(.on-screen) #result {
    top: 100% !important; }
  .on-screen #result, .watcher-page #result {
    top: 0%; }

#kid-name {
  background-color: white;
  border-radius: 5px;
  border: 2px #DDDDDD solid;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000;
  font-size: 3em;
  padding: .5rem 2rem; }

img {
  max-width: 100%;
  height: auto; }

.drawing-item {
  width: 20%;
  display: inline-block;
  text-align: center; }

#result {
  position: fixed;
  top: 100%;
  left: 0;
  width: 90vw;
  transition: top .5s ease-out; }
  .on-screen #result {
    top: 0%; }

.neutre img {
  background-image: url("/anims2.hyperesources/neutre_fond.png");
  background-size: cover; }

.aviateur img {
  background-image: url("/anims2.hyperesources/aviateur_fond.png");
  background-size: cover; }

.bonnet img {
  background-image: url("/anims2.hyperesources/bonnet_fond.png");
  background-size: cover; }

.casquette img {
  background-image: url("/anims2.hyperesources/casquette_fond.png");
  background-size: cover; }

#result-background {
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-out;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .on-screen #result-background {
    opacity: 1;
    pointer-events: auto; }
  #result-background .close {
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: white;
    font-size: 4rem; }
