@import 'styles/shared';

body{
  color: white;
  background: radial-gradient(farthest-corner at 0 0, #a7aeb2 0%,#8d8f99 100%);
}

header{
  width: 100%;
  padding: 2rem 1rem;
}
.logo{
  display: block;
  margin: auto;
}

.search-container{
  padding: 3rem;
  width: 100%;
}
#search{
  width: 100%;
  color: black;
  @media #{$tablet}{
    position: absolute;
    top: 2rem;
    right: 2rem;
    max-width: 20rem;
  }
  border-radius: 8px;
}

.list-container{
  @media #{$tablet}{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  min-height: 400px;
}
.drawing-item{
  transform-origin: 50%;
  cursor: pointer;
  .img-container{
    margin: auto;
    width: 80vw;
    height: 80vw;
    @media #{$tablet}{
      width: 33vw;
      height: 33vw;
    }
    @media #{$md}{
      width: 25vw;
      height: 25vw;
    }
    background-color: white;
    transition: all .2s ease-out;
    transform: scale(1)
  }
  &:hover .img-container{
    transform: scale(1.05);
  }
  display: block;
  text-align: center;
  margin: 3rem auto;

  img{
    max-height: 100%;
    width: auto;
  }
  transition: all .5s ease-out;
}

.loader{
  font-size: 7rem;
}


  $angles: -2 5 -1 4 -3 1 -3.5 2;
  @each $angle in $angles {
    $i: index($angles, $angle);
    .drawing-item:nth-child(#{$i}n){
      transform: rotate(#{$angle}deg);
    }
  }


.sharers{
  .fa-share{
    opacity: .5;
  }
  a{
    color: white;
    padding: .5rem .5rem;
  }
  float: right;
}

#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 90vw;


  transition: top .5s ease-out;
  .on-screen &{
    top: 0%;
  }
}

$ducks: neutre aviateur bonnet casquette;
@each $duck in $ducks{
  .#{$duck} img{
    background-image: url("/anims2.hyperesources/#{$duck}_fond.png");
    background-size: cover;
  }
}



#result-background{
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-out;
  .on-screen &{
    opacity: 1;
    pointer-events: auto;
  }
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  .close{
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: white;
    font-size: 4rem;
  }
}


.pager{
  font-size: 6rem;
  .pager-item.disabled{
    display: none;
  }
}
