@import 'styles/shared';

.drawing-item{
  width: 20%;
  display: inline-block;
  text-align: center;
}

#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 90vw;


  transition: top .5s ease-out;
  .on-screen &{
    top: 0%;
  }
}

$ducks: neutre aviateur bonnet casquette;
@each $duck in $ducks{
  .#{$duck} img{
    background-image: url("/anims2.hyperesources/#{$duck}_fond.png");
    background-size: cover;
  }
}

#result-background{
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-out;
  .on-screen &{
    opacity: 1;
    pointer-events: auto;
  }
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  .close{
    position: fixed;
    top: 3rem;
    right: 3rem;
    color: white;
    font-size: 4rem;
  }
}
