
@import './styles/base';
@import './styles/shared';

html body{
  overflow: hidden;
  font-size: 32px;
  .ui-keyboard{
    font-size: 24px;
    background: transparent;
  }
  button.ui-keyboard-button {
    background: #FBE63A;
    border-radius: 37px;
    color: #111111;
  }
}



#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top .5s ease-out;
  .on-screen &{
    top: 0%;
  }
}

#canvasDiv{
  height: 80vh;
}

canvas{
  background: white;
  padding: 1rem;
}

.step{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 15vh;
}
.question{
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 5rem;
  #step-2 &{
    margin-bottom: 15rem;
  }
}
#step-1{
  padding-top: 0vh;
}
.shadow{
  box-shadow: 8px 8px 20px rgba(0,0,0,.25);
}

.duck-list{
  display: flex;
  flex-direction: column;

  flex: 0 0 20%;
  .duck{
    padding: 0 0rem;
  }
}


body{
  label{
    display: block;
  }
}

form{
  height: 100vh;
}
#next, #reset, #previous{
  position: fixed;
  font-size: 7rem;
}

#next, #previous{
  right: 0;
  bottom: 0;
  background: url(/assets/coin.png);
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-position: bottom right;
  background-size: cover;
  z-index: 16002;
  .fa{
    margin: 2rem;
  }
  transform: translate3d(0%, 0, 0);
  transition: all .6s ease-out;
  .hide-next &#next{
    transform: translate3d(100%, 100%, 0);
  }
}
#previous{
  right: auto;
  transform: scaleX(-1);
  .hide-previous &, .on-screen &{
    transform: translate3d(-100%, 100%, 0);
  }

}
#reset{
  left: 4rem;
  top: 4rem;
  font-size: 4rem;
}

#result{
  width: 100vw;
  height: 100vh;
}

.form-content{
  display: flex;
  overflow: hidden;
  background: white;
}
.form-step {
    display: inline-block;
    flex: 0 0 100%;
    padding: 2rem;
}
#step-3{
  max-height: 0vh;
}
.color-picker, .size-picker{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  vertical-align: top;
}
.picker{
    margin: 0 5rem;
    width: 8rem;
    height: 8rem;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picker span{
  display: inline-block;
  background-color: black;
  border-radius: 50%;
}

.size-picker{
  .picker{
    @extend .shadow;
    transition: all .2s ease-out;
    &.sketch-active{
      box-shadow: 0px 0px 20px rgba(0,0,0,0);
    }
  }
}
.sketcher-ui{
  display: flex;
  justify-content: center;
}
#canvasDiv{
  flex: 1 2 60%;
  text-align: center;
}
.ui-column{
  flex: 1 1 20%;
}
.sketcher{
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-basis: 80vw;
  margin: auto;
  .duck-list{

    display: flex;
    justify-content: flex-end;
    .duck .shadow{
      width: 18rem;
      height: 18rem;
      background: white;
      margin: 3.5rem 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.eraser{
  background-image: url('/assets/eraser.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
#accessoire-aviateur{ transform: rotate(-5deg)}
#accessoire-bonnet{ transform: rotate(3deg) translateX(1rem)}
#accessoire-casquette{ transform: rotate(-3deg) translateX(1rem)}

.picker{
  transform: scale(1);
  transition: all .2s .1s   cubic-bezier(0.18, 0.89, 0.32, 1.28);
  &.sketch-active{
    transform: scale(1.2);
  }
}

.color{
  box-shadow: inset 0 0 0 0 rgba(0,0,0, .25);
  transition: all .1s ease-out;
  &:not(.sketch-active){
    box-shadow: inset 0 0 3rem .2rem rgba(0,0,0, .25);
  }
}
label[for="day"]{
  display: block;
}
select.form-control{
  display: inline-block;
  width: auto;
}

.scenes{display: flex;}
