@import './lib/animate-min';
@import './styles/base';

body{
  max-width: 100%;
}

.container{
  display: flex;
}
#step-1{
  //padding: 1rem;
  .duck{
    flex: 0 1 auto;
    padding: 0 1rem;
  }
}
input + label img{
  @extend .animated;
}

input:checked + label img{
  @extend .rubberBand;
}
