@import './lib/animate-min';
@import './styles/base';

body{
  max-width: 100%;
}

.container{
}

#canvasDiv{
  height: 100vh;
}
.duck-list{
  display: flex;
  flex-direction: column;
  .duck{
    padding: 0 1rem;
  }
}

input + label img{
  @extend .animated;
}

input:checked + label img{
  @extend .rubberBand;
}

#next, #reset{
  position: fixed;
  font-size: 3rem;
  bottom: 2rem;
}

#next{
  right: 2rem;
}
#reset{
  left: 2rem;
}

#result{
  width: 100vw;
  height: 100vh;
}

.modal-content{
  display: flex;
  overflow: hidden;
}
.form-step {
    display: inline-block;
    flex: 0 0 100%;
    padding: 2rem;
}
