@import './lib/animate-min';
@import './styles/base';
@import './styles/shared';

body{
  overflow: hidden;
}

#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top .5s ease-out;
  .on-screen &{
    top: 0%;
  }
}

#canvasDiv{
  height: 100vh;
}
.duck-list{
  display: flex;
  flex-direction: column;
  .duck{
    padding: 0 1rem;
  }
}

input + label img{
  @extend .animated;
}

input:checked + label img{
  @extend .rubberBand;
}

form{
  height: 100vh;
}
#next, #reset{
  position: fixed;
  font-size: 3rem;
  bottom: 2rem;
}

#next{
  right: 2rem;
}
#reset{
  left: 2rem;
}

#result{
  width: 100vw;
  height: 100vh;
}

.modal-content{
  display: flex;
  overflow: hidden;
}
.form-step {
    display: inline-block;
    flex: 0 0 100%;
    padding: 2rem;
}

.color-picker{
  padding-top: 6rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  vertical-align: top;
}

label[for="day"]{
  display: block;
}
select.form-control{
  display: inline-block;
  width: auto;
}
