// A7AEB2
// 8D8F99

@import './lib/animate-min';
@import './styles/base';
@import './styles/shared';

html body{
  overflow: hidden;
  font-size: 32px;
  background: url('/assets/logo.png') no-repeat 10rem 5rem/20rem, radial-gradient(ellipse at top left, #a7aeb2 0%,#8d8f99 100%);;
  .modal-dialog{
    margin: 130px auto;
  }
  .ui-keyboard{
    font-size: 28px;
  }
}



#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top .5s ease-out;
  .on-screen &{
    top: 0%;
  }
}

#canvasDiv{
  height: 80vh;
}

canvas{
  background: white;
}

.step{
  display: flex;
  height: 100vh;
}
.shadow{
  box-shadow: 8px 8px 20px rgba(0,0,0,.25);
}

.duck-list{
  display: flex;
  flex-direction: column;
  .duck{
    padding: 0 1rem;
  }
}


body{
  label{
    display: block;
  }
}
input + label img{
  @extend .animated;
}

input:checked + label img{
  @extend .rubberBand;
}

form{
  height: 100vh;
}
#next, #reset{
  position: fixed;
  font-size: 7rem;
}

#next{
  right: 0;
  bottom: 0;
  background: url(/assets/coin.png);
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-position: bottom right;
  background-size: cover;
  .fa{
    margin: 2rem;
  }
}
#reset{
  left: 4rem;
  top: 4rem;
  font-size: 4rem;
}

#result{
  width: 100vw;
  height: 100vh;
}

.modal-content{
  display: flex;
  overflow: hidden;
}
.form-step {
    display: inline-block;
    flex: 0 0 100%;
    padding: 2rem;
}

.color-picker{
  padding-top: 6rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  vertical-align: top;
  .color{
    width: 8rem;
    height: 8rem;
    display: inline-block;
    border-radius: 50%;
  }
}

.sketcher{
  height: 780px;
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  margin: auto;
  .duck-list{

    display: flex;
    justify-content: flex-end;
    .duck{
      width: 18rem;
      height: 18rem;
      background: white;
      margin: 3.5rem 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

#accessoire-aviateur{ transform: rotate(-5deg)}
#accessoire-bonnet{ transform: rotate(3deg) translateX(1rem)}
#accessoire-casquette{ transform: rotate(-3deg) translateX(1rem)}

.ui-column{
  max-width: 15rem;
}

.color:not(.sketch-active){
  box-shadow: inset 0 0 3rem .2rem rgba(0,0,0, .25);
}
label[for="day"]{
  display: block;
}
select.form-control{
  display: inline-block;
  width: auto;
}
