$mobile                 : "(max-width: 767px)";
$portrait               : "(orientation: portrait)";
$landscape              : "(orientation: landscape)";
$xs                     : $mobile;
$tablet                 : "(min-width: 767px)";
$sm                     : $tablet;
$md                     : "(min-width: 991px)";
$lg                     : "(min-width: 1200px)";
$ie                     : "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";

body{
  max-width: 100%;
  min-height: 100vh;
  font-family: Helvetica;
  background: url('/assets/logo.png') no-repeat 10rem 5rem/20rem, radial-gradient(ellipse at top left, #a7aeb2 0%,#8d8f99 100%);
  user-select: none;
}

#result{
  position: fixed;
  top:100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top .1s ease-out;
  body:not(.on-screen) &{
    top: 100%!important;
  }
  .on-screen &, .watcher-page &{
    top: 0%;
  }
}

#kid-name{
  background-color: white;
  border-radius: 5px;
  border: 2px #DDDDDD solid;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000;
  font-size: 3em;
  padding: .5rem 2rem;
  color: #111;
}

img{
  max-width: 100%;
  height: auto;
}

.shadow{
  box-shadow: 8px 8px 20px rgba(0,0,0,.25);
}
